@use "../../scss/" as *;

.page-header {
  //... 이전 스타일 유지

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  .title-cell {
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 10px;
  }

  .info-cell {
    color: gray;
    padding-bottom: 20px;
  }

  .text-container {
    display: inline-block;
    margin-right: 20px;
    width: 70%;
  }
}

@media (max-width: 768px) {
  .text-container {
    width: 100%;
    margin-right: 0;
    margin-top: 20px;
  }
}

.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  position: relative;
}

table tr td {
  border: none;
}

.detail {
  width: 90%;
  border-collapse: separate;
  border-spacing: 0;
  margin: 0 auto;
  text-align: center;

  th,
  td {
    text-align: center;
    padding: 10px;
  }

  th {
    background-color: #333;
  }

  /* 열 너비 조정 */
  th:first-child,
  td:first-child {
    width: 5%;
    text-align: center;
  }

  th:nth-child(2),
  td:nth-child(2) {
    width: 78%;
  }

  th:nth-child(3),
  td:nth-child(3) {
    width: 7%;
  }

  th:nth-child(4),
  td:nth-child(4) {
    width: 10%;
  }

  th:last-child,
  td:last-child {
    width: 5%;
    text-align: center;
  }
}
