@use "../../scss/" as *;

.myinfo {
  width: 22%;
  border-collapse: separate;
  margin: 0 auto;
  text-align: center;

  th,
  td {
    text-align: center;
    padding: 10px;
  }

  th {
    background-color: #333;
  }

  /* 열 너비 조정 */
  th:first-child,
  td:first-child,
  th:last-child,
  td:last-child {
    width: 11%;
    text-align: center;
  }
}

.userInfoButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
